h1 {
    font-size: 75;
}

body {
    background-image: url('image/gamedevpic.jpg');
    color:forestgreen;
    font-family: Garamonwd;
   text-align: center;
} 
.ca
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  #scrum {
    border-image-width: 10px;
  }